.form-container {
    border: 1px solid var(--border-color);
    padding: 30px 20px;
}

.form-row {
    display: flex;
    align-items: start;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    &>label {
        min-width: 200px;
        font-weight: bold;
        display: flex;
        align-items: center;
        margin-top: 5px;

        .require {
            margin-left: 10px;
            color: var(--accent-color);
        }
    }

    .attention {
        font-size: 12px;
    }
}

.form-input {
    height: 40px;
}
