.logo {
    a {
        display: flex;
        height: 100px;

        img {
            height: 100%;
        }
    }
}
.header {
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.category-button-group {
    display: flex;
    align-items: center;
    margin-left: 30px;

    .category-button {
        padding: 0 15px;
        position: relative;

        &>a {
            //可愛いフォントを使う
            font-family: 'Comic Sans MS', cursive, sans-serif;
            color: var(--text-color);
            font-weight: bold;
            padding: 4px 10px;
            cursor: pointer;

            &:hover {
                border-bottom: 1px solid var(--text-color);
            }
        }

        .category-popover {
            position: fixed;
            z-index: 199;
            top: -150%;
            left: 0;
            width: 100%;
            height: 0;
            background-color: var(--white-color);
            padding: 30px 0;
            overflow: auto;

            ul {
                padding-left: 0;
            }

            .close-popover {
                position: absolute;
                right: 50px;
                top: 50px;
                cursor: pointer;

                i {
                    font-size: 30px;
                }
            }

            &.show {
                height: calc(100vh - $header_height);
                top: calc($header_height + 1px);
                transition: all $transitionDuration $transitionTimingFunction;
            }

            .category-icon {
                width: fit-content;
                margin-left: auto;
                margin-right: auto;
                i {
                    font-size: 40px;
                }
            }

            .sub-category-item {
                list-style: none;
                border-bottom: 1px solid var(--border-color);
                padding-bottom: 20px;

                .sub-category-heading {
                    font-size: 1.2rem;
                    font-weight: bold;
                    text-align: center;
                    margin-bottom: 15px;

                    a {
                        color: var(--text-color);
                        cursor: pointer;
                        padding-bottom: 4px;

                        &:hover {
                            border-bottom: 1px solid var(--text-color);
                        }
                    }
                }

                .small-category-group {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;

                    .small-category-item {
                        margin-bottom: 10px;

                        a {
                            padding: 4px 10px;
                            color: var(--text-color);
                            cursor: pointer;
                            margin-right: 5px;
                            border: 1px solid var(--white-color);
                            border-radius: 8px;

                            &:hover {
                                transition: all $transitionDuration;
                                background-color: var(--special-color);
                                color: var(--white-color);
                            }
                        }
                    }
                }
            }
        }
    }
}

.other-button-group {
    margin-left: auto;
    align-items: center;
    display: flex;

    .button-item {
        padding: 10px;
        margin-right: 20px;
        i {
            font-size: 26px;
        }
    }
}
